:root {
    --dark: rgb(51, 30, 30);
    --medium: gray;
    --light: white;
    --past: rgb(170, 170, 170);
    --past-bg: #F4F4F4;
    --present: rgb(208, 29, 29);
    --future: green;
}

* {
    font-family: 'Josefin Sans', sans-serif;
    
}

.schedule {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.time-slot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time  {
    min-width: 50px;
    height: 50px;
}

.description {
    width: 80%;
}

.present {
    background-color: rgba(var(--present), 0.5);
    border-bottom: 5px solid var(--present);
    
}

.future {
    background-color: var(--future);
}